@import "react-big-calendar/lib/css/react-big-calendar.css";
@import 'react-big-calendar/lib/addons/dragAndDrop/styles.css';

/* https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors */
.rbc-day-bg {
	background-color: var(--background-secondary);
}

.rbc-off-range-bg {
	background: var(--background-primary);
}

.rbc-toolbar button {
	background-color: var(--background-primary);
	color: var(--text-muted);

	&:active,
	&.rbc-active {
		background-color: var(--background-secondary-alt);
		color: var(--text-normal);

		&:hover,
		&:focus {
			color: var(--text-normal);
			background-color: var(--background-modifier-active-hover);
		}
	}

	&:focus {
		color: var(--text-normal);
		background-color: var(--background-modifier-hover);
	}

	&:hover {
		color: var(--text-normal);
		background-color: var(--background-modifier-hover);
	}
}

/* no-prefix */
html {
	--rbc-event-row-display: block;
	--rbc-event-row-overflow: hidden;
	--rbc-event-row-text-overflow: ellipsis;
	--rbc-event-row-white-space: nowrap;
	--rbc-event-row--webkit-box-orient: horizontal;
	--rbc-event-row--webkit-line-clamp: none;
}

.rbc-row-segment .rbc-event-content {
	display: var(--rbc-event-row-display);
	overflow: var(--rbc-event-row-overflow);
	text-overflow: var(--rbc-event-row-text-overflow);
	white-space: var(--rbc-event-row-white-space);
	-webkit-box-orient: var(--rbc-event-row--webkit-box-orient);
	-webkit-line-clamp: var(--rbc-event-row--webkit-line-clamp);
}

/* to display "+n show more"  */
.rbc-month-row {
	overflow: visible;
}

.rbc-show-more {
	background-color: var(--background-primary-alt);
	color: var(--text-muted);

	&:hover,
	&:focus {
		color: var(--text-normal);
	}
}
